<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="post" novalidate class="validatedForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter Title:</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" value="<%=campground.title %>" required>
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Enter Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" value="<%=campground.location %>" required>
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Enter Image URL</label>
                    <input type="text" class="form-control" id="image" name="campground[image]" value="<%=campground.image %>" required>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Enter description</label>
                    <textarea type="text" class="form-control" id="description" name="campground[description]" rows="4" required><%=campground.description %></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Enter Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" value="<%=campground.price %>" required>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-info">Save</button>
            </form>
            <a href="/campgrounds/<%=campground._id %>" class="btn btn-secondary mt-3">Cancel</a>
        </div>
    </div>